/* App.css */
.grid {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
  gap: 2px;
  background-color: black;
  padding: 10px;
  /* border: 1px solid #444; */
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #333;
  border: 1px solid #444;
  transition: background-color 0.3s;
}

.cell.drop {
  transition: background-color 0.3s ease-in;
}
h1{text-align: center;}
.centerApp{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}